.footerlinks{
    color:#ffffff;
    text-decoration:none !important;
}
    .footerlinks:hover {
        //color: #ffd800;
        //text-shadow: 2px 2px 5px white;
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
#footer1 {
    background: #2e4659;
}
#footer2 {
    background: #2e4659;
}


nav .navbar-nav li a {
    color: white !important;
}
   
.nav-link:hover {
    //color: white;
    text-shadow: 1px 1px 5px grey;
}

#navigation {
    background: #2e4659;
}

#heading{
    color:#ffffff;
}